<div align="center">
	<h1>Sign Up for RPS2014!</h1>
	<% if flash[:alert] %>
    Alert: <%= flash[:alert] %><br/>
  <% end %>
	<form action='/signup' method='post'>
		<input type='text' name='newusername' placeholder='Username'><br/>
		<input type='text' name='email' placeholder='Email@Address'><br/>
		<input type='text' name='password' placeholder='Password'><br/>
		<input type='text' name='password_conf' placeholder='Verify Password'><br/>
	</form>
</div>